################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/.vs
/FamilyTree/.vs/FamilyTree/v16/.suo
/FamilyTree/obj
/FamilyTree/bin/Debug/net5.0
